<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true" id="main">
  <router-outlet></router-outlet>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="isMenuVisible()">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div class="block-menu" [routerLink]="['/','home']" [class.castom-activated]="isMenuActivate('home')">
          <ion-icon name="home-outline" size="large"></ion-icon>
          <label class="text-for-block-menu">Home</label>
        </div>
      </ion-col>

      <ion-col>
        <div class="block-menu" [routerLink]="['/', 'new-orders']"
          [class.castom-activated]="isMenuActivate('new-orders')">
          <ion-icon name="add-circle-outline" size="large"></ion-icon>
          <label class="text-for-block-menu">New order</label>
        </div>
      </ion-col>

      <ion-col>
        <div class="block-menu" [routerLink]="['/', 'profile']" [class.castom-activated]="isMenuActivate('profile')">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
          <label class="text-for-block-menu">User profile</label>
        </div>
      </ion-col>

      <ion-col>
        <div class="block-menu" [routerLink]="['/', 'chats']" [class.castom-activated]="isMenuActivate('chats')">
          <ion-icon name="chatbox-outline" size="large"></ion-icon>
          <label class="text-for-block-menu">Chat</label>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
