ion-item {
  position: relative;
  overflow: initial;

  ion-input + ion-icon {
    position: absolute;
    right: 5px;
    bottom: 0;
    cursor: pointer;
    z-index: 1000;
  }
}

.social {
  display: flex;

  ion-button {
    ion-icon {
      margin-right: 10px;
    }
  }
}

ion-list-header {
  min-height: 35px;
}

ion-datetime {
  padding-bottom: 8px;
}

ion-item {
  margin-bottom: 1em;
}

.custom-phone-label {
  font-size: 12px;
}

.phone-control-wrapper {
  padding: 15px 0;
  position: relative;

  app-form-error {
    position: absolute;
    z-index: 99999;
    bottom: 0;
  }
}

international-phone-number {
  & ::ng-deep .dropdown-content {
    z-index: 999999;

    .list-group.scrollable-menu {
      background: white;
    }
  }

  & ::ng-deep .input-group .form-control {
    outline: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid
      var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    width: calc(100% - 40px);
  }
}
.item-label-stacked.sc-ion-input-ios-h,
.item-label-stacked .sc-ion-input-ios-h,
.item-label-floating.sc-ion-input-ios-h,
.item-label-floating .sc-ion-input-ios-h {
  --padding-top: 0.63rem;
}
.margin-left {
  margin-left: 1.2em;
}