<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col size-md="10" offset-md="1" size-lg="8" offset-lg="2" *ngIf="isDesktop && client">
        <ng-container *ngTemplateOutlet="form"></ng-container>
      </ion-col>

      <ion-col *ngIf="isMobile && client">
        <ng-container *ngTemplateOutlet="form"></ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #form>
  <form [formGroup]="clientForm">
    <div style="margin-bottom: 50px;">
      <ion-row class="ion-no-margin ion-no-padding">
        <ion-col>
          <ion-item>
            <ion-label position="floating">First name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" formControlName="firstName"></ion-input>
            <app-form-error [ctrl]="clientForm.get('firstName')"></app-form-error>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating">Last name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" formControlName="lastName"></ion-input>
            <app-form-error [ctrl]="clientForm.get('lastName')"></app-form-error>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Date of birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMM DD YYYY" formControlName="birthDay"></ion-datetime>
            <app-form-error [ctrl]="clientForm.get('birthDay')"></app-form-error>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating">Postal code</ion-label>
            <ion-input required type="text" formControlName="zip"></ion-input>
            <app-form-error [ctrl]="clientForm.get('zip')"></app-form-error>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-item style="width: 100%;">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input required type="text" formControlName="email"></ion-input>
          <app-form-error [ctrl]="clientForm.get('email')"></app-form-error>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item style="width: 100%;">
          <ion-label position="floating">Password</ion-label>
          <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>

          <ion-icon slot="end" (click)="showPassword = !showPassword"
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'">
          </ion-icon>
        </ion-item>
      </ion-row>
<!-- 
      <div class="phone-control-wrapper">
        <ion-label class="custom-phone-label" position="fixed">Phone number <ion-text color="danger">*</ion-text></ion-label>

        <international-phone-number
          formControlName="phone"
          [allowedCountries]="['ca']"
          [maxlength]="20"
          defaultCountry="ca"
          name="phone_number">
        </international-phone-number>

        <app-form-error [ctrl]="clientForm.get('phone')"></app-form-error>
      </div> -->
      <ion-row>
                  <ion-label class="margin-left">Phone number</ion-label>
        <ion-item style="width: 100%;">
          <span>+1</span>
          <ion-input required type="text" formControlName="phone"></ion-input>
          <app-form-error [ctrl]="clientForm.get('phone')"></app-form-error>
        </ion-item>
      </ion-row>

      <ion-button
        class="green-button button-borders"
        type="submit"
        style="margin-top: 2em;"
        expand="block"
        [disabled]="clientForm?.invalid"
        (click)="save()">
        Save
      </ion-button>
    </div>
  </form>
</ng-template>
