<ion-content class="ion-padding chat-room-page">
  <ion-grid class="order-chat-room-wrapper">
    <ion-row class="order-description-wrapper">
      <ng-container *ngIf="order; else orderLoader">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text class="order-name">{{order.price?.name}}</ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text class="order-date">{{order.createdAt | date}}</ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-text class="order-address-wrapper">
                <div class="order-address">{{order.address?.address}}</div>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>

      <ng-template #orderLoader>
        <ion-spinner></ion-spinner>
      </ng-template>
    </ion-row>

    <ion-row class="custom-ion-row chat-messages-container">
      <ng-container *ngIf="messages.length === 0">
        <ion-text class="no-message-label">Welcome to the chat room!</ion-text>
      </ng-container>

      <ng-container  *ngIf="messages.length > 0">
        <div #scrollMe  class="chat-messages-wrapper" [class.no-messages]="messages.length === 0">
          <ng-container *ngFor="let message of messages">
            <ion-col size="9" [offset]="message.from.id === currentUserId ? 3 : 0" class="message-container">
              <app-chat-message [message]="message" [isOwnMessage]="message.from.id === currentUserId"></app-chat-message>
            </ion-col>
          </ng-container>
        </div>
      </ng-container>
    </ion-row>

    <ion-row class="custom-ion-row message-input-container">
      <div class="message-form-wrapper">
        <div class="input-wrapper">
          <input
            class="message-box"
            [formControl]="messageCtrl"
            placeholder="Your message..."
            (keyup)="sendMessageWithKeyboard($event)">
          <!-- <img class="attach-button" src="assets/images/attach-file.svg"> -->
        </div>

        <ion-button class="send-message-btn" (click)="sendMessageWithButton()">Send</ion-button>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
