:host {
  width: 100%;

  mat-form-field {
    width: calc(100% - 20px) !important;
  }
}

.order-description-wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
  place-content: flex-start;

  .order-name {
    font-family: Poppins, Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }

  .order-date {
    font-family: Poppins, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
  }

  .order-address-wrapper {
    width: 100%;

    .order-address {
      font-family: Poppins, Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.5);
      max-width: 55%;
    }
  }
}

.chat-messages-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  --background: #f8f8f8;

  &.no-messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .message-container {
    padding: 10px 0;
  }
}

.order-chat-room-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.no-message-label {
  font-family: Poppins, Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.custom-ion-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.message-form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  .input-wrapper {
    height: 46px;
    position: relative;
    width: calc(100% - 78px);

    .message-box {
      height: inherit;
      background: #ffffff;
      border-radius: 3px;
      border: 1px solid lightgray;
      width: 100%;
      padding: 0 35px 0 10px;
      outline: none;
      font-family: Poppins, Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #000000;

      &::placeholder {
        color: #c0bcbc;
      }
    }

    .attach-button {
      position: absolute;
      z-index: 9999;
      top: 10px;
      right: 10px;
      width: 22px;
      height: auto;
    }
  }

  .send-message-btn {
    height: 46px;
    background: #8cc544;
    color: #f8f8f8;
    --background: #8cc544;
    --color: #f8f8f8;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
  }
}

.chat-messages-container {
  height: calc(100% - 120px);
  overflow: auto;
  background: #f8f8f8;
  --background: #f8f8f8;
  justify-content: flex-end;
  align-items: flex-start;
}

.message-input-container {
  padding-top: 10px;
}

.chat-room-page {
  background: #f8f8f8;
  --background: #f8f8f8;
}
