<ion-header>
  <ion-toolbar class="ion-padding-start ion-padding-end" *ngIf="step === 1 && type && checkSelectorsOptions">
    <ion-thumbnail slot="start">
      <a [routerLink]="['/']">
        <ion-img [src]="logoSrc"></ion-img>
      </a>
    </ion-thumbnail>

    <ion-row>
      <ion-title>
        New order
      </ion-title>

      <ion-col class="right-step">
        Step 1 of 5
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-toolbar class="ion-padding-start ion-padding-end" *ngIf="step === 1 && type && checkSelectorsAddress">
    <ion-thumbnail slot="start">
      <a [routerLink]="['/']">
        <ion-img [src]="logoSrc"></ion-img>
      </a>
    </ion-thumbnail>

    <ion-row>
      <ion-title>
        New order
      </ion-title>

      <ion-col class="right-step">
        Step 2 of 5
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-toolbar class="ion-padding-start ion-padding-end" *ngIf="step === 1 && type && checkSelectorsDate">
    <ion-thumbnail slot="start">
      <a [routerLink]="['/']">
        <ion-img [src]="logoSrc"></ion-img>
      </a>
    </ion-thumbnail>

    <ion-row>
      <ion-title>
        New order
      </ion-title>

      <ion-col class="right-step">
        Step 3 of 5
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-toolbar class="ion-padding-start ion-padding-end" *ngIf="step === 2 && type && selectedPrice">
    <ion-thumbnail slot="start">
      <a [routerLink]="['/']">
        <ion-img [src]="logoSrc"></ion-img>
      </a>
    </ion-thumbnail>

    <ion-row>
      <ion-title>
        New order
      </ion-title>

      <ion-col class="right-step">
        Step 4 of 5
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-toolbar class="ion-padding-start ion-padding-end" *ngIf="step === 3 && type" >
    <ion-thumbnail slot="start">
      <ion-icon
        name="arrow-back-outline"
        color="dark"
        size="large"
        (click)="goBackToNewOrder()">
      </ion-icon>
    </ion-thumbnail>
  </ion-toolbar>

  <ion-toolbar class="ion-padding-start ion-padding-end" *ngIf="step === 4 && type">
    <ion-thumbnail slot="start">
      <a [routerLink]="['/']">
        <ion-img [src]="logoSrc"></ion-img>
      </a>
    </ion-thumbnail>

    <ion-row>
      <ion-title>
        New order
      </ion-title>

      <ion-col class="right-step">
        Step 5 of 5
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-toolbar class="ion-padding-start ion-padding-end" *ngIf="order && !type">
    <ion-thumbnail slot="start">
      <a [routerLink]="['/']">
        <ion-img [src]="logoSrc"></ion-img>
      </a>
    </ion-thumbnail>

    <ion-title>
      View order #{{ order.id }}
    </ion-title>
  </ion-toolbar>
</ion-header>
