ion-header {
  ion-toolbar {
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-thumbnail {
    box-sizing: content-box;
    display: flex;
    align-items: center;
  }

  .text-center {
    text-align: center;
  }
}
