<ion-header [translucent]="true">
  <app-header [useLogout]="false"></app-header>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" *ngIf="isDesktop">
        <ion-card class="ion-padding">
          <ion-card-title>Sign In</ion-card-title>

          <ion-card-content class="ion-no-padding">
            Login error: {{ message }}
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="isMobile">
        <ion-card class="ion-padding">
          <ion-card-title>Sign In</ion-card-title>

          <ion-card-content class="ion-no-padding">
            Login error: {{ message }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
