<div class="message-wrapper" [class.is-own]="isOwnMessage">
  <div class="message-info-panel">
    <div class="user-name-wrapper">
      <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
      <div class="user-name">{{ isOwnMessage ? 'You' : userName }}</div>
    </div>

    <div class="message-send-date">{{ message?.createdAt | date:'MMM d, y, h:mm:ss a' }}</div>
  </div>

  <div class="message-text">{{message?.message}}</div>
</div>
