:host {
  width: 100%;
  display: block;
}

.message-wrapper {
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 0 8px 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px 17px;
  border: 1px solid #f8f8f8;

  &.is-own {
    border-radius: 8px 0 8px 8px;
    background: #c2df9e;
    border-color: transparent;
  }

  .message-info-panel {
    width: 100%;
    display: flex;
    flex-direction: column;

    .user-name-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .user-icon {
      --color: #747474;
      font-size: 12px;
      margin-right: 5px;
    }

    .user-name {
      width: 86%;
      font-family: Poppins, Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #000000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;
    }

    .message-send-date {
      font-family: Poppins, Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px;
      color: #454545;
      margin-top: 5px;
    }
  }

  .message-text {
    margin-top: 15px;
    font-family: Poppins, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    width: 100%;
    padding-right: 1em;
  }
}
