<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="info">
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addresses">
      <ion-label>Addresses</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
