ion-tabs {
  position: relative;
  height: 100%;
}

.input-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  ion-fab-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5px;
    width: 30px;
    height: 30px;
  }
}
.tab-selected {
  color: #9370DB;
  // color: #8cc544;
  border-bottom: 4px solid #9370DB;
  // border-bottom: 4px solid #8cc544;
}
.button-borders {
  width: 100%;
  --border-radius: 6px;
}
