<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding-start ion-padding-end">
    <ion-thumbnail slot="start">
      <a [routerLink]="['/']">
        <!-- <ion-img [src]="logoSrc"></ion-img> -->
      </a>
    </ion-thumbnail>

    <ion-title class="ion-text-start">Add new address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="addressForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Address <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" formControlName="address"></ion-input>
        <app-form-error [ctrl]="addressForm.get('address')"></app-form-error>
      </ion-item>

      <ion-item>
        <ng-container *ngIf="regions?.length; else noData">
          <ion-label position="floating">Province <ion-text color="danger">*</ion-text></ion-label>

          <ion-select formControlName="region" okText="Ok" cancelText="Cancel">
            <ion-select-option *ngFor="let region of regions" [value]="region.code">
              {{ region.name }}
            </ion-select-option>
          </ion-select>

          <app-form-error [ctrl]="addressForm.get('address')"></app-form-error>
        </ng-container>

        <ng-template #noData>
          <ion-row>
            The list of regions is empty
          </ion-row>
        </ng-template>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Zip <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" formControlName="zip"></ion-input>
        <app-form-error [ctrl]="addressForm.get('zip')"></app-form-error>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Longtitude</ion-label>
        <ion-input type="text" formControlName="lon"></ion-input>
        <app-form-error [ctrl]="addressForm.get('lon')"></app-form-error>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Latitude</ion-label>
        <ion-input type="text" formControlName="lat"></ion-input>
        <app-form-error [ctrl]="addressForm.get('lat')"></app-form-error>
      </ion-item>
    </ion-list>

    <ion-toolbar>
      <ion-searchbar [formControl]="queryControl" (ionInput)="searchPlace()"></ion-searchbar>
    </ion-toolbar>

    <ion-list>
      <ion-item
        *ngFor="let place of places"
        (touchstart)="selectPlace(place)"
        (click)="selectPlace(place)">
        {{ place.description }}
      </ion-item>
    </ion-list>

    <div #pleaseConnect id="please-connect">
      <p>Please connect to the Internet...</p>
    </div>

    <div #map id="map">
      <ion-spinner></ion-spinner>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="white-button" (click)="close()" expand="block">
            Cancel
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button class="green-button" type="submit" expand="block" [disabled]="addressForm?.invalid"
            (click)="save()">
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
