<ion-content fullscreen="true">
  <div class="AllContentForReg">
    <div class="logo-for-login">
      <ion-img [src]="logoSrc" class="loginLogo"></ion-img>
    </div>

    <ion-grid class="height-100">
      <ion-row class="height-100">
        <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" *ngIf="isDesktop">
          <ion-card class="ion-padding">
            <ion-card-content class="ion-no-padding">
              <ng-container *ngTemplateOutlet="form"></ng-container>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col *ngIf="isMobile">
          <ng-container *ngTemplateOutlet="form"></ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer no-shadow class="ion-no-border">
  <ion-toolbar position="bottom">
    <ion-button expand="full" class="green-button" type="submit" [disabled]="signupForm.invalid" (click)="signUp()">
      Register
    </ion-button>

    <a [routerLink]="['/', 'auth', 'login']">
      <ion-button expand="full" class="white-button">Sign In</ion-button>
    </a>
  </ion-toolbar>
</ion-footer>

<ng-template #form>
  <form [formGroup]="signupForm" autocomplete="off">
    <div *ngIf="backError" class="backend-error-message">{{ backError }}</div>

    <ion-item class="ion-no-margin ion-no-padding">
      <ion-label position="floating">Enter e-mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="email" formControlName="email" autocomplete="new-password"></ion-input>
      <app-form-error [ctrl]="signupForm.get('email')"></app-form-error>
    </ion-item>

    <ion-item class="ion-no-margin ion-no-padding">
      <ion-label position="floating">Enter password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required [type]="showPassword ? 'text' : 'password'" formControlName="password" autocomplete="new-password"></ion-input>
      <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="showPassword = !showPassword"></ion-icon>
      <app-form-error [ctrl]="signupForm.get('password')"></app-form-error>
    </ion-item>

    <ion-item class="ion-no-margin ion-no-padding">
      <ion-label position="floating">Confirm password <ion-text color="danger">*</ion-text></ion-label>

      <ion-input
        autocomplete="new-password"
        formControlName="confirmPassword"
        required
        [type]="showPassword ? 'text' : 'password'">
      </ion-input>

      <app-form-error [ctrl]="signupForm.get('confirmPassword')"></app-form-error>
    </ion-item>

    <ion-label class="margin-left">Phone number</ion-label>

    <ion-item class="ion-no-margin ion-no-padding">
      <span>+1&nbsp;</span>
      <ion-input required type="text" formControlName="phone" maxlength="10"></ion-input>
      <app-form-error [ctrl]="signupForm.get('phone')"></app-form-error>
    </ion-item>

    <ion-item class="ion-no-margin ion-no-padding">
      <ion-label position="floating">Enter postal code <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" formControlName="zip"></ion-input>
      <app-form-error [ctrl]="signupForm.get('zip')"></app-form-error>
    </ion-item>
  </form>
</ng-template>
