ion-thumbnail {
  box-sizing: content-box;
  display: flex;
  align-items: center;
}

ion-header.header-collapse-condense-inactive {
  display: none;
}

ion-item {
  margin-bottom: 20px;
  position: relative;
  overflow: initial;

  ion-input + ion-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1000;
  }
}

ion-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .small {
    font-size: smaller;
    color: #bababa;
  }
}

.hidden {
  display: none;
}

.forgot {
  display: flex;
  justify-content: center;
  width: 100%;

  a:first-of-type {
    margin-right: 10px;
  }
}

.social-login {
  display: flex;
  justify-content: center;
}

ion-card {
  height: 100%;
  box-shadow: none;
}

.height-100 {
  height: 100%;
}

a {
  color: #8cc544;
  text-decoration: none;
}

app-form-error {
  margin-bottom: -0.5em;
}

ion-label {
  line-height: 1 !important;
}

input {
  border: none;
  width: 100%;
}

ion-footer ion-button {
  height: 46px;
}

.custom-phone-label {
  font-size: 12px;
}

.phone-control-wrapper {
  padding: 15px 0;
  position: relative;

  app-form-error {
    position: absolute;
    z-index: 99999;
    bottom: 8px;
  }
}

.backend-error-message {
  width: 100%;
  text-align: center;
  color: red;
}
