ion-thumbnail {
  box-sizing: content-box;
  display: flex;
  align-items: center;
}

.order-chat-item {
  border-radius: 4px;
  padding: 1.3rem 0.5rem;

  .order-price {
    &-date {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 163.3%;
    }

    &-address {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 163.3%;
      color: #c0bcbc;
    }

    &-img {
      display: flex;
      justify-content: flex-end;

      ion-img {
        width: 97.03px;
        height: 92.24px;
      }
    }
  }
}

.order-new-message {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #9370DB;
  // color: #8cc544;
}

.chat-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: #9370DB;
    // text-decoration-color: #8cc544;
  }

  ion-img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
  }
}
