<ng-container *ngFor="let order of orders">
  <ion-card class="ion-no-border order-chat-item">
    <ion-grid>
      <ion-row>
        <ion-text class="order-price-name-of" style="margin-left: 0.4em;">
          {{order.price.name}} of {{ order.price.service.name }}
        </ion-text>
      </ion-row>

      <ion-row class="order-price">
        <ion-col size="6">
          <ion-row>
            <ion-text class="order-price-date">
              {{order.createdAt | date}}
            </ion-text>
          </ion-row>

          <ion-row>
            <ion-text class="order-price-address">
              {{order.address.address}}
            </ion-text>
          </ion-row>

          <ion-row>
            {{order.amount | priceFormat}}
          </ion-row>
        </ion-col>

        <ion-col size="6">
          <div class="order-price-img">
            <ion-img [src]="getServiceIcon(order.price.service.name)"></ion-img>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <a href="javascript:;" [routerLink]="['/', 'chats', order.id]" class="chat-icon">
            <ion-img [src]="logoSrcMidiChat"></ion-img>
            <ion-text class="order-new-message">New message</ion-text>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ng-container>

<ion-item *ngIf="!orders.length">
  <ion-label>
    No orders yet
  </ion-label>
</ion-item>
