ion-thumbnail {
  box-sizing: content-box;
  display: flex;
  align-items: center;
}

ion-header.header-collapse-condense-inactive {
  display: none;
}

.forgot {
  display: flex;
  justify-content: center;
  width: 100%;
}

ion-input + ion-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

ion-card {
  height: 100%;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

.height-100 {
  height: 100%;
}

ion-card-content {
  height: 100%;
}

a {
  color: #8cc544;
  text-decoration: none;
}

ion-footer ion-button {
  height: 46px;
}

.text-enter-your-email {
  --ion-font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 139.7%;
  padding-left: 0.5em;
  margin-top: 1.4em;
}

.backend-error-message {
  width: 100%;
  text-align: center;
  color: red;
}
