<ion-content fullscreen="true">
  <ion-grid class="height-100">
    <ion-row class="height-100">
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" *ngIf="isDesktop">
        <ion-card class="ion-padding">
          <ion-card-content class="ion-no-padding" *ngIf="!showSuccess && !showError">
            <ng-container *ngTemplateOutlet="step === Step.Get ? formGet : formSet"></ng-container>
          </ion-card-content>

          <ng-container *ngTemplateOutlet="errorOrSuccess"></ng-container>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="isMobile">
        <ion-card class="ion-padding">
          <ion-card-content class="ion-no-padding" *ngIf="!showSuccess && !showError">
            <ng-container *ngTemplateOutlet="step === Step.Get ? formGet : formSet"></ng-container>
          </ion-card-content>

          <ng-container *ngTemplateOutlet="errorOrSuccess"></ng-container>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-shadow class="ion-no-border">
  <ion-toolbar position="bottom">
    <ion-button
      expand="full"
      class="green-button"
      type="submit"
      [disabled]="resetForm.invalid"
      (click)="resetPassword()">
      Reset password
    </ion-button>

    <a [routerLink]="['/', 'auth', 'login']">
      <ion-button expand="full" class="white-button">Close</ion-button>
    </a>
  </ion-toolbar>
</ion-footer>

<ng-template #errorOrSuccess>
  <ion-card-content class="ion-no-padding ion-padding-top" *ngIf="showSuccess">
    Check your email. We have sent you an email with a link to reset your password
  </ion-card-content>

  <ion-card-content class="ion-no-padding ion-padding-top" *ngIf="showError">
    Password reset error
  </ion-card-content>
</ng-template>

<ng-template #formGet>
  <div class="logo-for-login">
    <ion-img [src]="logoSrc" class="loginLogo"></ion-img>
  </div>

  <div class="text-enter-your-email">
    <ion-text>Enter your email to reset your password</ion-text>
  </div>

  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <div *ngIf="backError" class="backend-error-message">{{ backError }}</div>

    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">E-mail <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="email" formControlName="email"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ng-template>

<ng-template #formSet>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <div *ngIf="backError" class="backend-error-message">{{ backError }}</div>

    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">New password <ion-text color="danger">*</ion-text></ion-label>

        <ion-input
          autocomplete="new-password"
          required
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password">
        </ion-input>

        <ion-icon
          slot="end"
          [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
          (click)="showPassword = !showPassword">
        </ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirm password <ion-text color="danger">*</ion-text></ion-label>

        <ion-input
          autocomplete="new-password"
          required
          [type]="showPassword ? 'text' : 'password'"
          formControlName="passwordConfirm">
        </ion-input>

        <ion-icon
          slot="end"
          [name]="showPasswordConfirm ? 'eye-outline' : 'eye-off-outline'"
          (click)="showPasswordConfirm = !showPasswordConfirm">
        </ion-icon>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="resetForm.invalid">
        Reset password
      </ion-button>
    </div>

    <div class="forgot">
      <a [routerLink]="['/', 'auth', 'login']">Sign In</a>
    </div>
  </form>
</ng-template>
