ion-toolbar {
  --padding-start: 0;
  --padding-end: 0;
}

ion-thumbnail {
  box-sizing: content-box;
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.right-step {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #aeaeae;
  display: flex;
  justify-content: flex-end;
}

.left-text-done4u {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 163.3%;
  font-weight: bolder;
}

.more-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: bolder;
  font-size: 15px;
  line-height: 163.3%;
}

.log-out {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
  text-align: right;
  // color: #8cc544;
  color: #9370DB;
}
