<ion-header>
  <ng-container *ngIf="isHeaderVisibleFor('new-orders')">
    <ion-toolbar class="ion-padding-start ion-padding-end">
      <ion-thumbnail slot="start">
        <a [routerLink]="['/']">
          <ion-img [src]="logoSrc"></ion-img>
        </a>
      </ion-thumbnail>

      <ion-title class="ion-text-start">Done4u</ion-title>
      <ion-menu-button slot="end" *ngIf="useLogout"></ion-menu-button>
    </ion-toolbar>
  </ng-container>

  <ng-container *ngIf="isHeaderVisibleFor('home')">
    <ion-toolbar class="ion-padding-start ion-padding-end">
      <ion-thumbnail slot="start">
        <a [routerLink]="['/']">
          <ion-img [src]="logoSrc"></ion-img>
        </a>
      </ion-thumbnail>

      <ion-title class="ion-text-start">My orders</ion-title>
      <ion-menu-button slot="end" *ngIf="useLogout"></ion-menu-button>
    </ion-toolbar>
  </ng-container>

  <ng-container *ngIf="isHeaderVisibleFor('profile/info')">
    <ion-toolbar class="ion-padding-start ion-padding-end">
      <ion-thumbnail slot="start">
        <a [routerLink]="['/']">
          <ion-img [src]="logoSrc"></ion-img>
        </a>
      </ion-thumbnail>

      <ion-row>
        <ion-col>
          <ion-text class="ion-text-start more-text">More information</ion-text>
        </ion-col>

        <ion-col class="ion-text-end">
          <ion-text class="log-out" (click)="logout()">Log out</ion-text>
        </ion-col>
      </ion-row>

      <ion-menu-button slot="end" *ngIf="useLogout"></ion-menu-button>
    </ion-toolbar>
  </ng-container>

  <ng-container *ngIf="isHeaderVisibleFor('profile/addresses')">
    <ion-toolbar class="ion-padding-start ion-padding-end">
      <ion-thumbnail slot="start">
        <a [routerLink]="['/']">
          <ion-img [src]="logoSrc"></ion-img>
        </a>
      </ion-thumbnail>

      <ion-row>
        <ion-col>
          <ion-text class="ion-text-start more-text">More information</ion-text>
        </ion-col>

        <ion-col class="ion-text-end">
          <ion-text class="log-out" (click)="logout()">Log out</ion-text>
        </ion-col>
      </ion-row>

      <ion-menu-button slot="end" *ngIf="useLogout"></ion-menu-button>
    </ion-toolbar>
  </ng-container>

  <ng-container *ngIf="isHeaderVisibleFor('chats')">
    <ion-toolbar class="ion-padding-start ion-padding-end">
      <ion-thumbnail slot="start">
        <a [routerLink]="['/']">
          <ion-img [src]="logoSrc"></ion-img>
        </a>
      </ion-thumbnail>

      <ion-row>
        <ion-col>
          <ion-text class="ion-text-start more-text">Chat</ion-text>
        </ion-col>
      </ion-row>

      <ion-menu-button slot="end" *ngIf="useLogout"></ion-menu-button>
    </ion-toolbar>
  </ng-container>
</ion-header>
