<ion-segment (ionChange)="segmentChanged($event)" class="segment-for-home" [(ngModel)]="segment">
  <ion-segment-button value="Relevant">
    <ion-label>Relevant ({{orderRelevant.length}})</ion-label>
  </ion-segment-button>

  <ion-segment-button value="Completed">
    <ion-label>Completed ({{orderCompleted.length}})</ion-label>
  </ion-segment-button>
</ion-segment>

<ng-container *ngIf="step === 1">
  <ng-container *ngFor="let order of orderRelevant">
    <ng-container>
      <ion-card class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-text class="order-price-name-of">
              {{order.price.name}} of {{ order.price.service.name }}
            </ion-text>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-text class="order-price-date">
                  {{order.createdAt | date}}
                </ion-text>
              </ion-row>

              <ion-row>
                <ion-text class="order-price-address">
                  {{order.address.address}}
                </ion-text>
              </ion-row>

              <ion-row>
                {{order.amount | priceFormat}}
              </ion-row>
            </ion-col>

            <ion-col size="6">
              <div class="pole-for-order-price-img">
                <ion-img [src]="getServiceIcon(order.price.service.name)" class="order-price-img"></ion-img>
              </div>
            </ion-col>
          </ion-row>

          <ng-container *ngIf="order.price.paymentType === 'hourly' && !order.factHours">
            <ion-text class="actual-hours">
              Enter actual hours
            </ion-text>
          </ng-container>

          <ion-row class="arena-for-button-order">
            <div class="arena-for-button-order">
              <ion-col>
                <ion-button class="white-button" expand="block" [routerLink]="['/', 'orders', order.id]">
                  More details
                </ion-button>
              </ion-col>

              <ion-col>
                <ion-button class="button-no-back-green" expand="block" fill="outline"
                  [routerLink]="['/', 'chats', order.id]">
                  Open chat
                </ion-button>
              </ion-col>
            </div>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ng-container>
  </ng-container>
</ng-container>

<!-- Draft order list -->
<!-- <ng-container *ngIf="step === 2">
  <ng-container *ngFor="let order of orderDrafts">
    <ng-container *ngIf=" statuses[order.status] === 'In Drafts'">
      <ion-card class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-text class="order-price-name-of">
              {{order.price.name}} of {{ order.price.service.name }}
            </ion-text>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-text class="order-price-date">
                  {{order.createdAt | date}}
                </ion-text>
              </ion-row>

              <ion-row>
                <ion-text class="order-price-address">
                  {{order.address.address}}
                </ion-text>
              </ion-row>

              <ion-row>
                {{order.amount | priceFormat}}
              </ion-row>
            </ion-col>

            <ion-col size="6">
              <div class="pole-for-order-price-img">
                <ion-img [src]="getServiceIcon(order.price.service.name)" class="order-price-img"></ion-img>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="arena-for-button-order">
            <div class="arena-for-button-order">
              <ion-col>
                <a [routerLink]="['/', 'orders', order.id]">
                  <ion-button class="white-button">
                    Show more
                  </ion-button>
                </a>
              </ion-col>
            </div>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ng-container>
  </ng-container>
</ng-container> -->
<!-- Completed order list -->
<ng-container *ngIf="step === 3">
  <ng-container *ngFor="let order of orderCompleted">
    <ng-container >
      <ion-card class="ion-no-border">
        <ion-grid>
          <ion-row>
            <ion-text class="order-price-name-of">
              {{order.price.name}} of {{ order.price.service.name }}
            </ion-text>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-text class="order-price-date">
                  {{order.createdAt | date}}
                </ion-text>
              </ion-row>

              <ion-row>
                <ion-text class="order-price-address">
                  {{order.address.address}}
                </ion-text>
              </ion-row>

              <ion-row>
                {{order.amount | priceFormat}}
              </ion-row>
            </ion-col>

            <ion-col size="6">
              <div class="pole-for-order-price-img">
                <ion-img [src]="getServiceIcon(order.price.service.name)" class="order-price-img"></ion-img>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="arena-for-button-order">
            <div class="arena-for-button-order">
              <ion-col>
                <a [routerLink]="['/', 'orders', order.id]">
                  <ion-button class="white-button">
                    More details
                  </ion-button>
                </a>
              </ion-col>

              <ion-col>
                <ion-button class="button-no-back-green" [routerLink]="['/', 'chats', order.id]">
                  Open chat
                </ion-button>
              </ion-col>
            </div>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ng-container>
  </ng-container>
</ng-container>
