ion-thumbnail {
  box-sizing: content-box;
  display: flex;
  align-items: center;
}

.content {
  height: calc(50% - 32px);
  overflow-y: auto;
}

::ng-deep {
  ion-app:not(.ios) {
    app-home {
      ion-list {
        margin-top: -20px;
      }
    }
  }
}

.segment-for-home {
  --background: white;
  border-radius: 0;
  text-align: center;
  color: #c0bcbc;

  .segment-button-indicator-background {
    background: #9370DB;
    // background: #8cc544;
  }

  .segment-button-checked {
    
    // color: #8cc544;
    color: #9370DB;
    --color: #9370DB;
    border-bottom: 4px solid #9370DB;
    // border-bottom: 4px solid #8cc544;
    --border-radius: 0;
    // --color: #8cc544;
  }

  ion-segment-button {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 163.3%;
    border-radius: 0;
    --indicator-color: transparent !important;
  }
}

.order-price-name-of {
  margin-left: 0.3em;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.order-price-date {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
}

.order-price-address {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
  color: #c0bcbc;
}

.order-price-img {
  width: 97.03px;
  height: 92.24px;
}

.pole-for-order-price-img {
  display: flex;
  justify-content: flex-end;
}

.button-no-back-green {

  --background: #9370DB;



  --background: white !important;
  // border-color: #8cc544 !important;
  border-color: #9370DB !important;
  // color: #8cc544 !important;
  color: #9370DB !important;
  // --color-checked: #8cc544 !important;
  --color-checked: #9370DB;
  --background-activated: white !important;
  --background-focused: white !important;
  --background-hover: white !important;
  // --border-color: #8cc544;
  --border-color: #9370DB;
  --border-radius: 6px;
  --box-shadow: none;
  height: 40px;
  width: 154px;
  font-size: 12px;
}

.arena-for-button-order {
  display: flex;
  justify-content: center;
}

.actual-hours {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  margin-left: 0.4em;
  color: #efc42b;
}

ion-card{
  padding: 0.7em;
}