ion-thumbnail {
  box-sizing: content-box;
  display: flex;
  align-items: center;
}

ion-header.header-collapse-condense-inactive {
  display: none;
}

.forgot {
  display: flex;
  justify-content: center;
  width: 100%;

  a:first-of-type {
    margin-right: 10px;
  }
}

.social-login {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

a {
  color: #8cc544;
  text-decoration: none
}

ion-card {
  height: 100%;
  box-shadow: none;
  margin: 0;
  width: 100%;
}

.height-100 {
  height: 100%;
}

form {
  padding-top: 1em;
}

body {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

ion-footer ion-button{
  height: 46px;
}

.backend-error-message {
  width: 100%;
  text-align: center;
  color: red;
}

.logo-google {
  margin-left: 0.4em;
}
