<ion-content fullscreen="true">
  <ion-grid class="height-100">
    <ion-row class="height-100">
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4" *ngIf="isDesktop">
        <ion-card class="ion-padding">
          <ion-card-content class="ion-no-padding">
            <ng-container *ngTemplateOutlet="form"></ng-container>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="isMobile">
        <ng-container *ngTemplateOutlet="form"></ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-shadow class="ion-no-border">
  <ion-toolbar position="bottom">
    <ion-button
      expand="full"
      class="green-button"
      type="submit"
      (click)="signIn()"
      [disabled]="loginForm.invalid">
      Sign In
    </ion-button>

    <a [routerLink]="['/', 'auth', 'signup']">
      <ion-button expand="full" class="white-button">Sign Up</ion-button>
    </a>
  </ion-toolbar>
</ion-footer>

<ng-template #form>
  <div class="logo-for-login" *ngIf="showLogo">
    <ion-img [src]="logoSrc" class="loginLogo"></ion-img>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="signIn()">
    <div *ngIf="backError" class="backend-error-message">{{ backError }}</div>

    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">E-mail <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required [type]="showPassword ? 'text' : 'password'" type="password" formControlName="password"></ion-input>

        <ion-icon
          style="margin-top: 1.5em;"
          slot="end"
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          (click)="showPassword = !showPassword">
        </ion-icon>
      </ion-item>
    </ion-list>

    <div class="social-login">
      <ion-col class="ion-text-left">
        <!-- <ion-icon name="logo-facebook" color="dark" size="large" (click)="fbLogin()"></ion-icon> -->
        <!-- <ion-icon name="logo-google" class="logo-google" color="dark" size="large" (click)="googleLogin()"></ion-icon> -->
      </ion-col>

      <!-- <ion-col class="ion-text-right">
        <a [routerLink]="['/', 'auth', 'reset']">Forgot password?</a>
      </ion-col> -->
    </div>
  </form>
</ng-template>
