<ion-content class="ion-padding-start ion-padding-end ion-padding-bottom">
  <div style="margin-bottom: 50px;">
    <ion-list *ngIf="client">
      <ng-container *ngFor="let address of client.addresses">
        <ion-card *ngIf="address.status === 'active'" class="card-addresses">
          <ion-card-content (click)="editAddress(address)">
            <ion-row>
              <ion-col size="9">
                {{ address.address }}
              </ion-col>

              <ion-col size="3">
                <ion-button fill="clear" (click)="deleteAddress($event, address)">
                  <ion-icon slot="icon-only" color="dark" name="trash-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <ion-row style="display: flex;justify-content: center;">
        <ion-button expand="block" class="green-button " (click)="addAddress()">
          Add Address
        </ion-button>
      </ion-row>
    </ion-list>
  </div>
</ion-content>
