<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row *ngIf="step === 1 && type && checkSelectorsOptions && checkSelectorsOptionsButtons">
        <ion-col>
          <ion-button class="white-button" [routerLink]="['/', 'new-orders']" expand="full">
            Cancel
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button
            class="green-button"
            [disabled]="orderForm?.get('price')?.invalid"
            expand="block"
            (click)="hideOptions()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="step === 1 && type && checkSelectorsAddress">
        <ion-col>
          <ion-button class="white-button" (click)="showOptions()" expand="full">
            Back
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button
            class="green-button"
            [disabled]="orderForm?.get('address')?.invalid"
            expand="block"
            (click)="hideAddres()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="step === 1 && type && checkSelectorsDate">
        <ion-col>
          <ion-button class="white-button" (click)="hideDate()" expand="full">
            Back
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button class="green-button"
            [disabled]="orderForm?.get('expiredHours')?.invalid || orderForm?.get('expiredAt')?.invalid"
            (click)="continue()" expand="block">
            Next
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="step === 2 && type && selectedPrice">
        <ion-col>
          <ion-button class="white-button" (click)="backPaymentToDataModal()" expand="block">
            Back
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button class="green-button" (click)="stripeCharge()" expand="block">
            Payment&nbsp;
            {{
              (
                selectedPrice.prepayment
                  ? selectedPrice.prepayment :
                  ( getAddress()?.region
                    ? (selectedPrice.amount * (1 + getAddress()?.region.taxRate / 100) )
                    : selectedPrice.amount )
              ) | priceFormat
            }}
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="step === 3 && type">
        <ion-col>
          <ion-button
            class="green-button"
            [disabled]="orderForm?.get('price')?.invalid"
            expand="block"
            (click)="stripeCharge()">
            Provide payment
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="step === 4 && type ">
        <ion-col>
          <ion-button class="white-button" (click)="goBackToNewOrder()" expand="block" expand="full">
            Back
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button
            class="green-button"
            expand="block"
            [disabled]="!client.paymentMethodId && (!cardHolder.valid || isCardError)"
            (click)="pay($event)">
            Pay&nbsp;
            {{
              (
                selectedPrice.prepayment
                  ? selectedPrice.prepayment :
                  ( getAddress()?.region
                    ? (selectedPrice.amount * (1 + getAddress()?.region.taxRate / 100) )
                    : selectedPrice.amount )
              ) | priceFormat
            }}
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="step === 5 && type">
        <ion-col>
          <ion-button class="green-button" expand="block" [routerLink]="['/', 'home']">
            Home
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="order && !type">
        <ion-col *ngIf="order.status !== 'canceled'">
          <ion-button class="white-button" (click)="cancelOrder()" expand="block" fill="outline">
            Cancel
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button class="green-button" [routerLink]="['/', 'home']" expand="block">
            Close
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
