<ion-content>
  <div class="top">
    <ion-text class="please-select">
      Please select a service
    </ion-text>
  </div>

  <div class="allOrders">
    <div class="OrderByOrders" *ngFor="let type of services">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ type.name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            <ion-col size="6">
              {{type.description || empty }}
            </ion-col>

            <ion-col size="6" class="new-order-img">
              <div>
                <ion-img [src]="getServiceIcon(type.name)"></ion-img>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>

        <div class="pole-for-green-button" style=" margin-bottom: 1em;">
          <ion-button
            expand="block"
            class="green-button create-order-button"
            type="submit"
            [routerLink]="['/', 'orders', 'create']"
            [queryParams]="{ type: type.id }">
            {{ type.name }}
          </ion-button>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
