.new-order-img{
    display: flex;
    justify-content: flex-end;
}

.green-button {
    width: 90%;
    --border-radius: 6px;
    --background: #9370DB;
    --border-color: #9370DB;
    --color-checked: #9370DB;
    --background-activated: #9370DB;
    --background-focused: #9370DB;
    --background-hover:#9370DB;

    // --background: rgb(140,197,68);
    // --border-color: rgb(140,197,68);
    // --color-checked: rgb(140,197,68);
    // --background-activated: rgb(140,197,68);
    // --background-focused: rgb(140,197,68);
    // --background-hover: rgb(140,197,68);
}

.pole-for-green-button{
    display: flex;
    justify-content: center;
}

.all-orders {
    margin-bottom: 1em;
}

.please-select {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 139.7%;
    margin-left: 1em;
}

.top {
    margin-top: 3em;
}

.create-order-button {
    height: 46px;
}