<ion-grid *ngIf="formInputError" class="ion-no-margin ion-no-padding">
  <ion-row>
    <ion-col text-center size="12" class="ion-no-margin ion-no-padding">
      <p alert alert-danger>
        {{ formInputError }}
      </p>
    </ion-col>
  </ion-row>
</ion-grid>
