<app-order-header
  [checkSelectorsOptions]="checkSelectorsOptions"
  [checkSelectorsAddress]="checkSelectorsAddress"
  [checkSelectorsDate]="checkSelectorsDate"
  [(step)]="step"
  [type]="type"
  [selectedPrice]="selectedPrice"
  [order]="order"
  [logoSrc]="logoSrc">
</app-order-header>

<div *ngIf="step === 1 && type">
  <form [formGroup]="orderForm">
    <div class="all-order-selects">
      <ng-container *ngIf="checkSelectorsOptions">
        <div class="text-top-new-order">
          <ion-row>
            <ion-text class="text-additional">
              Additional options
            </ion-text>
          </ion-row>

          <ion-row>
            <ion-text class="text-amount">
              What amount of work do you need?
            </ion-text>
          </ion-row>
        </div>

        <div class="ion-no-margin ion-no-pading" *ngIf="prices">
          <ion-item *ngFor="let option of prices" class="option-pole-item" (click)="toggleOption(option.id)">
            <ion-col>
              <ion-row>
                <div class="options-name">{{ option.name }}</div>
              </ion-row>

              <ion-row class="options-description">
                {{ option.description }}
              </ion-row>
            </ion-col>

            <ion-col size="3">
              <ion-button [fill]="isSelected(option.id) ? 'solid' : 'outline'" expand="block"
                class="little-button-options">
                {{ option.amount | priceFormat }}
              </ion-button>
            </ion-col>
          </ion-item>
        </div>
      </ng-container>

      <ng-container *ngIf="checkSelectorsAddress">
        <div class="text-top-new-order">
          <ion-row>
            <ion-text class="text-additional">
              Service address
            </ion-text>
          </ion-row>

          <ion-row>
            <ion-text class="text-amount">
              Choose address
            </ion-text>
          </ion-row>
        </div>

        <ion-radio-group class="adress-radio-group" formControlName="address" *ngIf="client">
          <ion-list lines="none">
            <ion-card *ngFor="let address of client.addresses" class="ion-no-margin" style="margin: 0.4em;">
              <ion-item>
                <ion-radio [value]="address.id" slot="end"></ion-radio>
                <ion-label class="label-for-adress">{{ address.address }}</ion-label>
              </ion-item>
            </ion-card>
          </ion-list>
        </ion-radio-group>

        <div class="pole-for-green-button " no-shadow>
          <ion-button
            expand="full"
            class="button-no-back-green"
            (click)="addAddress()">
            Add New Address
          </ion-button>
        </div>
      </ng-container>

      <ng-container *ngIf="checkSelectorsDate">
        <div class="text-top-new-order">
          <ion-row>
            <ion-text class="text-additional">
              When do you need it?
            </ion-text>
          </ion-row>

          <ion-row>
            <ion-text class="text-amount">
              Choose a convenient date and time
            </ion-text>
          </ion-row>
        </div>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col class="set-date-text">
                <ion-text>Set date</ion-text>
              </ion-col>

              <ion-col>
                <ion-datetime displayFormat="MMM DD, YYYY " [min]="nowDate" pickerFormat="MMM DD, YYYY"
                  placeholder="MM DD,YYYY" formControlName="expiredAt">
                </ion-datetime>
              </ion-col>
            </ion-row>

            <hr class="blackLine">

            <ion-row>
              <ion-col class="set-date-text">
                <ion-text>Set time</ion-text>
              </ion-col>

              <ion-col>
                <ion-datetime displayFormat="	HH:mm" formControlName="expiredHours" pickerFormat="	HH:mm"
                  placeholder="	HH:mm">
                </ion-datetime>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <div class="text-amount-what-sould-we-pay">
          What should we pay attention to when completing an order?
        </div>

        <ion-item class="border-white">
          <ion-textarea rows="5" formControlName="description"></ion-textarea>
        </ion-item>
      </ng-container>
    </div>
  </form>
</div>

<div *ngIf="step === 2 && type && selectedPrice">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text class="text-delux-package">
          {{ selectedPrice.name }} of {{ type.name }}
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text class="text-date-package">
          {{ getDateOrder() }}
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text class="text-addres-payment">
          {{ getAddressStr() }}
        </ion-text>
      </ion-col>
    </ion-row>

    <hr class="horizontal-line">

    <ng-container *ngIf="selectedPrice.paymentType === 'fixed' ">
      <ion-row>
        <ion-col size="6">Fee</ion-col>

        <ion-col size="6" class="ion-text-end">
          {{ selectedPrice.prepayment | priceFormat }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">Total amount:</ion-col>

        <ion-col size="6" class="ion-text-end">
          {{ selectedPrice.amount | priceFormat }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">Tax:</ion-col>

        <ion-col size="6" class="ion-text-end">
          {{ selectedPrice.amount * getAddress()?.region?.taxRate / 100 | priceFormat }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">Total pay:</ion-col>

        <ion-col size="6" class="ion-text-end">
          {{ selectedPrice.amount + (selectedPrice.amount * getAddress()?.region?.taxRate / 100 ) | priceFormat }}
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngIf="selectedPrice.paymentType === 'hourly' ">
      <ion-row *ngIf="selectedPrice.prepayment">
        <ion-col size="6">Fee</ion-col>

        <ion-col size="6" class="ion-text-end">
          {{ selectedPrice.prepayment | priceFormat }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">Price:</ion-col>

        <ion-col size="6" class="ion-text-end">
          {{ selectedPrice.amount | priceFormat }} per hour
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">Total pay:</ion-col>

        <ion-col size="6" class="ion-text-end">
          Final sum of order will be calculated after enter actual hours.
        </ion-col>
      </ion-row>
    </ng-container>

    <ion-row>
      <ion-col class="prepayment-info">
        Thanks for your order. A fee will be charged now, and after execution of the order you should pay the remaining amount.
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-card *ngIf="step === 3 && type" class="pay-card-no-shadow">
  <div>
    <ion-card-content>
      <div class="pole-for-img">
        <ion-img [src]="logoSrcPayloadShild"></ion-img>
      </div>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text class="text-delux-package">
            {{ type.name }}
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text class="text-date-package">
            {{ getDateOrder() }}
          </ion-text>
        </ion-col>
      </ion-row>

      <hr class="horizontal-line">

      <ion-text class="planed-selected-price-name">
        {{ selectedPrice.name }}
      </ion-text>

      <ion-row>
        <ion-col size="1">
          <ion-img [src]="logoSrcPayloadShildIcnon"></ion-img>
        </ion-col>

        <ion-col class="text-with-icon-shild">
          Save up to $ 20 per month
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
          <ion-img [src]="logoSrcPayloadShildIcnon"></ion-img>
        </ion-col>

        <ion-col class="text-with-icon-shild">
          The same mowing worker
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
          <ion-img [src]="logoSrcPayloadShildIcnon"></ion-img>
        </ion-col>

        <ion-col class="text-with-icon-shild">
          Increased demand will not affect the price
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-radio-group class="bonus-radio-group">
      <ion-list lines="none">
        <ion-item>
          <ion-radio slot="end"></ion-radio>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label class="label-for-bonus-radio">Without subscription</ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-text class="label-for-bonus-radio-low ">Next mowing - $140</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-radio slot="end"></ion-radio>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-col>
                    <ion-label class="label-for-bonus-radio">Without subscription</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-text class="label-for-bonus-radio-low">Next mowing - $140</ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="3">
                <div class="slot-for-sale">
                  <div class="sale">-20%</div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-radio slot="end"></ion-radio>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-col>
                    <ion-label class="label-for-bonus-radio">Twice a month</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-text class="label-for-bonus-radio-low">from next time - $100</ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="3">
                <div class="slot-for-sale">
                  <div class="sale">-40%</div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-radio-group>
  </div>
</ion-card>

<!-- *ngIf="step === 4 && type && !client.stripeCustomerId" -->
<ion-card *ngIf="step === 4 type"   class="pay-card-no-shadow">
  <div class="text-top-new-order" style="border: none;">
    <ion-row>
      <ion-text class="text-additional">
        Submit payment
      </ion-text>
    </ion-row>
  </div>

  <ion-card-content>
    <form #paymentForm>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Cardholder Name <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text" [formControl]="cardHolder"></ion-input>
        </ion-item>
      </ion-list>
      <div #card class="card-mount"></div>
      <div #cardErrors role="alert"></div>
    </form>
    
  </ion-card-content>
</ion-card>

<ion-card *ngIf="step === 5 && type" class="pay-card-no-shadow">
  <div>
    <ion-card-content>
      <div class="pole-for-img">
        <ion-img [src]="logoSrcPayloadShild"></ion-img>
      </div>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text class="text-delux-package">
            {{ type.name }}
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text class="text-date-package">
            {{ getDateOrder() }}
          </ion-text>
        </ion-col>
      </ion-row>

      <hr class="horizontal-line">

      <ion-text class="planed-selected-price-name">
        {{ selectedPrice.name }}
      </ion-text>

      <ion-row>
        <ion-col size="1">
          <ion-img [src]="logoSrcPayloadShildIcnon"></ion-img>
        </ion-col>
        <ion-col class="text-with-icon-shild">
          Save up to $ 20 per month
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
          <ion-img [src]="logoSrcPayloadShildIcnon"></ion-img>
        </ion-col>
        <ion-col class="text-with-icon-shild">
          The same mowing worker
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
          <ion-img [src]="logoSrcPayloadShildIcnon"></ion-img>
        </ion-col>
        <ion-col class="text-with-icon-shild">
          Increased demand will not affect the price
        </ion-col>
      </ion-row>
    </ion-card-content>
  </div>
</ion-card>

<div *ngIf="order && !type">
  <div class="ion-no-border">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text class="order-price-name-of" style="margin-top:1em">
            {{ order.price?.service?.name }}
          </ion-text>
        </ion-col>

        <ion-col class="flex-end">
          <div class="button-status-for-order">
            <ion-text class="order-status-text">
              {{ order.status }}
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-text class="order-price-name-of-two">
          {{ order.price?.name }}
        </ion-text>
      </ion-row>

      <ion-row>
        <ion-col size="8">
          <ion-row>
            <ion-text class="discriprion-order-page">
              {{ order.price.description }}
            </ion-text>
          </ion-row>

          <ion-row>
            <ion-text class="order-price-address-title">
              Address
            </ion-text>
          </ion-row>

          <ion-row>
            <ion-text class="order-price-address">
              {{ order.address?.address }}
            </ion-text>
          </ion-row>
        </ion-col>

        <ion-col size="4">
          <div class="pole-for-order-price-img">
            <ion-img [src]="getServiceIcon(order.price.service.name)" class="order-price-img"></ion-img>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" *ngIf="orderSchedule.length > 0">
          <ion-row>
            <ion-text class="title-created-time">
              Scheduled
            </ion-text>
          </ion-row>

          <ion-row *ngFor="let schedule of orderSchedule">
            <ion-text class="title-created-time" style="color: #000000;">
              {{ schedule.dateSchedule | date: 'short' }}
            </ion-text>
          </ion-row>
        </ion-col>

        <ion-col size="6">
          <ion-row>
            <ion-text class="title-created-time">
              Created
            </ion-text>
          </ion-row>

          <ion-row>
            <ion-text class="title-created-time" style="color: #000000;">
              {{order.createdAt | date}}
            </ion-text>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-row>
            <ion-text class="description-titl">
              Description
            </ion-text>
          </ion-row>

          <ion-row class="title-created-time description-pole" style="color: #000000;" >
            {{ order.description || "---" }}
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf = "order.price.paymentType === 'hourly'">
        <ion-col>
          <ion-row>
            <ion-text class="description-titl">
              Actual hours
            </ion-text>
          </ion-row>

          <ion-row >
            <ion-col style="display:inline-flex" >
              <div  class="title-created-time description-pole fact-hourly-pole">
                {{ order.factHours || "---" }}

                <ion-button class="green-icon" fill="clear" slot="icon-only" (click)="presentActionSheet()">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <hr class="horizontal-line customized">
      </ion-row>


      <ion-row style="justify-content: center;" *ngIf="order.price.paymentType === 'hourly' && !order.factHours">
        <ion-button expand="block" class="button-hours" (click)="presentActionSheet()">
          Enter actual hours
        </ion-button>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          Price
        </ion-col>

        <ion-col size="6" class="ion-text-end">
          <ng-container *ngIf="order.price.paymentType === 'hourly'">
            {{ order.price.amount | priceFormat }} / hour<br />
          </ng-container>

          <ng-container *ngIf="order.price.paymentType === 'fixed'">
              {{ order.price.amount | priceFormat }}
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="order.price.paymentType === 'hourly' && !order.factHours">
        <ion-col size="6">Total pay:</ion-col>

        <ion-col size="6" class="ion-text-end">
          Final sum of order will be calculated after enter actual hours.
        </ion-col>
      </ion-row>

      <ion-row *ngIf="order.price.paymentType === 'hourly' && order.factHours">
        <ion-col size="6">
          Total price
        </ion-col>

        <ion-col size="6" class="ion-text-end">
          {{ order.price.amount * order.factHours | priceFormat }}<br />
        </ion-col>
      </ion-row>

      <ion-row *ngIf="tax">
        <ion-col size="6">
          Tax
        </ion-col>

        <ion-col size="6" class="ion-text-end">
          <ng-container *ngIf="order.price.paymentType === 'hourly' && order.factHours">
              {{ tax | priceFormat }}
          </ng-container>

          <ng-container *ngIf="order.price.paymentType === 'fixed'">
              {{ tax | priceFormat }}
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="order.price.paymentType === 'fixed' || (order.price.paymentType === 'hourly' && order.factHours)">
        <ion-col size="6">
          Total amount
        </ion-col>

        <ion-col size="6" class="ion-text-end">
          <ng-container *ngIf="order.price.paymentType === 'hourly'">
            {{ (order.price.amount * order.factHours) + tax | priceFormat }}
          </ng-container>

          <ng-container *ngIf="order.price.paymentType === 'fixed'">
            {{ order.price.amount + tax| priceFormat }}
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

<app-order-footer
  [(checkSelectorsOptions)]="checkSelectorsOptions"
  [(checkSelectorsAddress)]="checkSelectorsAddress"
  [(checkSelectorsDate)]="checkSelectorsDate"
  [(checkSelectorsOptionsButtons)]="checkSelectorsOptionsButtons"
  [(step)]="step"
  [type]="type"
  [selectedPrice]="selectedPrice"
  [orderForm]="orderForm"
  [client]="client"
  [cardHolder]="cardHolder"
  [isCardError]="isCardError"
  [order]="order"
  [continue]="continue"
  [stripeCharge]="stripeCharge"
  [getAddress]="getAddress"
  [pay]="pay"
  (cancel)="cancelOrder()">
</app-order-footer>
