.new-address {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  width: 100%;
  max-width: unset;

  div {
    display: flex;
    align-items: center;
    flex: 1 0 100%;
  }

  ion-input {
    border: 1px solid #eaeaea;
  }
}

ion-radio + ion-label {
  margin-left: 10px;
}

ion-thumbnail {
  box-sizing: content-box;
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.fee-info {
  font: {
    size: 16px;
    weight: bold;
  }

  padding-top: 30px;
  padding-bottom: 20px;
}

.order-num {
  font: {
    size: 18px;
    weight: bold;
  }

  text-align: center;
}

.card-mount {
  padding: 10px 16px 40px 16px;
}

#map {
  margin: 20px 0;
  height: 300px;
}

.text-additional{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 139.7%;
  margin-left: 1em;
  font-weight: bolder;
}

.text-amount{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 139.7%;
  margin-left: 1.7em;
  margin-bottom: 1em;
}

ion-header ion-buttons {
  margin-left: 0.8em;
}

.green-buttons-pole {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 92999;
}

.green-button {
  height: 46px;
}

.little-button-options {
  

  color: #9370DB;
  --border-color:  #9370DB;
  --color-checked:  #9370DB;
  --background-activated:  #9370DB;
  --background-focused:  #9370DB;
  --background-hover: #9370DB;
  // color: rgb(140,197,68);
  // --border-color: rgb(140,197,68);
  // --color-checked: rgb(140,197,68);
  // --background-activated: rgb(140,197,68);
  // --background-focused: rgb(140,197,68);
  // --background-hover: rgb(140,197,68);
}

.little-button-options .buttonActive {
  color: white;
  --border-color: #9370DB;
  // --border-color: rgb(140,197,68);
}

:host ::ng-deep .button-solid {
  // --background: rgb(140,197,68);
  --background:  #9370DB;
  color: white;
}

.all-order-selects {
  overflow-y: auto;
  margin-bottom: 79px;
}

.text-top-new-order {
  border-bottom: 1px solid #E5E5E5;
  margin-top: 1.5em;
}

.label-for-adress {
  max-height: 5.4em;
  line-height: 1.8em;
  height: 75%;
  white-space: normal;
}

ion-radio {
  --color:transparent;
  --color-checked: transparent;
}

.item-radio-checked {
  --color:white;
  --font-family: Arial, Helvetica, sans-serif!important;
  --background:  #9370DB!important;
  // --background:  #8cc544!important;
}

.adress-radio-group ion-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adress-radio-group ion-item {
  --border:none!important;
}

.pole-for-green-button {
  display: flex;
  justify-content: center;
}

.set-date-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-amount-what-sould-we-pay {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 139.7%;
  margin-left: 1.7em;
  margin-right: 1.7em;
  margin-top: 1em;
  margin-bottom: 1em;
}

ion-textarea {
  padding-left: 1em;
  height: 9em;
  background-color: #F8F8F8;
  color: black;
}

.text-delux-package {
  font-family: Poppins;
  font-style: normal;
  font-weight: bolder;
  font-size: 17px;
  line-height: 25px;
}

.text-date-package {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
}

.text-addres-payment {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
  color: #C0BCBC;
}

.pay-card-no-shadow {
  box-shadow: none;
  margin: 0;
  width: 100%;

  ion-list {
    margin-bottom: 80px;
  }
}

.pole-for-img {
  display: flex;
  justify-content: center;

  img{
    height: 59px;
    width: 54px;
  }
}

.planed-selected-price-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: bolder;
  font-size: 17px;
  line-height: 25px;
}


.text-with-icon-shild {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
}

.bonus-radio-group {
  ion-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-item {
    border-radius: 5px;
    width: calc(100% - 2rem);
    --border:none!important;
    border:1px solid  #C0BCBC;
    margin: 10px;
  }

 .item-radio-checked {
  
    border:1px solid  #9370DB;
    // border:1px solid  rgb(140,197,68);
    --background: white!important;
  }

 .label-for-bonus-radio {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 163.3%;
 }

 .label-for-bonus-radio-low {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 163.3%;
 }

 .slot-for-sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

 .sale {
    width: 63px;
    height: 26px;
    background: #F6E861;
    display: flex;
    justify-content: center;
  }
}

.options-description {
  margin-top: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #AEAEAE;
}

.options-name {
  line-height: 1;
}

.option-pole-item {
  --min-height: 80px;
}


.border-white {
  --border-color: white;
}

.button-no-back-green {
  --background: white!important;
  // border-color: #8cc544 !important;
  border-color: #9370DB !important;
  color: #9370DB !important;
  // color: #8cc544 !important;
  width: 92%;
  border: 1px solid;
  --box-shadow : none;
  height: 40px;
  font-size: 12px;
}

.order-price-name-of {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.order-price-date {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
}

.order-price-address {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
}

.order-price-address-title {
  margin-top: 2em;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
  color: #C0BCBC;
}

.order-price-img {
  width: 97.03px;
  height: 92.24px;
}

.pole-for-order-price-img {
  display: flex;
  justify-content: center;
}

.pole-for-icon-chat {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pole-for-text-chat {
  justify-content: left;
  display: flex;
  flex-direction: column;
}

.button-no-back-green {
  
  --background: white!important;
  // border-color: #8cc544 !important;
  border-color: #9370DB !important;
  // color: #8cc544 !important;
  color: #9370DB !important;
  --color-checked: #9370DB !important;
  --background-activated:  white!important;
  --background-focused:  white!important;
  --background-hover:  white!important;
  border: 1px solid;
  --box-shadow : none;
  height: 40px;
  width: 92%;
  font-size: 12px;
}

.discriprion-order-page{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #AEAEAE;
}

.order-price-name-of-two {
  margin-left: 0.5em;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.button-status-for-order{
  background-color: #EFC42B;
  width: 105px;
  text-align: center;
  height: 24px;
  padding: 0;
  border-radius: 50px;
}

.order-status-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
  color: #FFFFFF;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.title-created-time {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
  color: #C0BCBC;
}

.description-titl {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 163.3%;
  color: #C0BCBC;
}

.button-hours {
  // border: 1px solid #8CC444;
  border: 1px solid #9370DB;
  --background: white;
  width: 93%;
  color: #9370DB;
  // color: #8CC444;
  border-radius: 7px;
  --color-checked: white;
  --background-activated: white;
  --background-focused: white;
  --background-hover: white;
}

.horizontal-line {
  background: #efefef;

  &.customized {
    background: #E5E5E5;
    height: 1px;
    width: 100%;
    margin-top: 2em;
  }
}
.description-pole {
  max-width: 100%;
  height: auto;
  word-break: break-word;
}

.fact-hourly-pole{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000000;
  ion-icon{
    margin-left:0.3rem  ;
    font-size: 20px;
  }
}
.prepayment-info {
  // margin: 1em;
  color: #9370DB;
    // color: #8CC444;
}

.green-icon {
  --color: #9370DB;
  // --color: rgb(140,197,68);
}
