/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.green-button {
  --border-radius: 6px;
  --background: #9370DB;
  --border-color: #9370DB;
  --color-checked: #9370DB;
  --background-activated: #9370DB;
  --background-focused: #9370DB;
  --background-hover:#9370DB;  
  // --background: rgb(140,197,68);
  // --border-color: rgb(140,197,68);
  // --color-checked: rgb(140,197,68);
  // --background-activated: rgb(140,197,68);
  // --background-focused: rgb(140,197,68);
  // --background-hover: rgb(140,197,68);
   
}
ion-button{
  text-transform:none;
}
.logo-for-login{
  display: flex;
  justify-content: center;
}

.block-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #C0BBBB;
}

.text-for-block-menu{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.castom-activated{
  
  color:#9370DB;
  // color: rgb(140,197,68);
}
.block-menu:focus {
  outline: 0;
}

$font-family-base: "Poppins","Arial" sans-serif !default;

.white-button{
  height: 40px;
  font-size: 12px;
  --background: white!important;
 
  --color:  #9370DB!important;
  // --color: rgb(140,197,68)!important;
  --box-shadow : none;
  // --color-checked: rgb(140,197,68)!important;
  --color-checked:  #9370DB!important;
  --background-activated:  white!important;
  --background-focused:  white!important;
  --background-hover:  white!important;
}
.right-step{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #AEAEAE;
  display: flex;
  justify-content: flex-end;
}
 .left-text-done4u{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 163.3%;
  font-weight: bolder;
 }
 .alert-button{
  color: #8CC444 !important;
  }
